/*! CSS Used from: https://freelancer.timviec365.vn/css/style_freelancer.css?v=1697995188 ; media=all */
@media all {
    .banner {
        width: 100%;
        height: 242px;
        background: url(https://freelancer.timviec365.vn/images/banner_1366.webp) no-repeat;
        background-size: 100% 100%;
        float: left;
        position: relative;
    }
    .cover_content_banner_both {
        position: absolute;
        width: 100%;
        top: 75px;
    }
    .content_banner {
        text-align: center;
        width: 50%;
        border-radius: 15px;
        background: rgba(24, 43, 73, 0.8);
        padding: 35px 0;
        margin: auto;
    }
    .content_banner span {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0125em;
        color: #ffffff;
    }
    .relative_banner {
        position: relative;
    }
    @media only screen and (min-width: 1520px) {
        .banner {
            height: 275px;
            background: url(https://freelancer.timviec365.vn/images/banner_1520.webp) no-repeat;
            background-size: 100% 100%;
        }
        .cover_content_banner_both {
            top: 90px;
        }
        .content_banner {
            width: 45%;
        }
    }
    @media only screen and (max-width: 1024px) {
        .banner {
            height: 275px;
            background: url(https://freelancer.timviec365.vn/images/banner_1024.webp) no-repeat;
            background-size: 100% 100%;
        }
        .cover_content_banner_both {
            top: 90px;
        }
        .content_banner {
            width: 50%;
        }
    }
    @media only screen and (max-width: 768px) {
        .banner {
            height: 275px;
            background: url(https://freelancer.timviec365.vn/images/banner_768.webp) no-repeat;
            background-size: 100% 100%;
        }
        .content_banner {
            width: 65%;
        }
    }
    @media only screen and (max-width: 625px) {
        .banner {
            height: 275px;
            background: linear-gradient(360deg, #0c0c0c 0%, rgba(0, 0, 0, 0) 100%);
            background-size: 100% 100%;
        }
        .content_banner {
            width: 90%;
        }
    }
}

@media all {
    .main_cover_container {
        float: left;
        width: 100%;
        padding: 50px 0px;
    }
    .main_cover_avatar {
        width: 480px;
        margin: auto;
    }
    .cover_avatar {
        float: left;
        width: 100%;
        text-align: center;
    }
    .text_p_fg_pass {
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #666666;
        float: left;
        width: 100%;
    }
    .popup_login {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #4c5bd4;
        border-radius: 6px;
        font-size: 16px;
        color: #ffffff;
        margin-top: 25px;
        float: left;
        border: none;
    }
    .title_forgot_pass {
        font-weight: 500;
        font-size: 26px;
        line-height: 167.69%;
        text-transform: uppercase;
        color: #444444;
        margin-bottom: 20px;
    }
    .text_p_fg_pass {
        color: #444444;
    }
    .forgot_style {
        float: left;
        width: 100%;
        background: #ffffff;
        border: 1px solid #ced4da;
        box-sizing: border-box;
        border-radius: 4px;
        height: 50px;
        line-height: 50px;
        text-align: left;
        padding: 0px 20px;
    }
    .input_forgot {
        display: inline-block;
        border: unset;
        font-weight: normal;
        font-size: 16px;
        text-align: justify;
        color: #666666;
        line-height: 30px;
        margin-left: 25px;
        width: 80%;
    }
    #email.input_forgot {
        width: 100%;
        margin: 0;
    }
    @media only screen and (max-width: 625px) {
        .main_cover_avatar {
            width: 95%;
            margin: auto;
        }
    }
    .top-10 {
        margin-top: 10px;
    }
}
